.document-container {
  height: auto;
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.processo,
.tribunal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sumario {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sumario .texto,
.sumario .titulo {
  display: flex;
  text-align: left;
}

.descritores {
  width: 100%;
}
.descritores .texto {
  width: 100%;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.descritores .texto > div {
  padding: 10px;
}

img {
  margin-top: 20px;
  margin-right: 20px;
  width: 22px;
  height: 22px;
}

.texto {
  padding-left: 10px;
  font-size: 14px;
}
